.navbar {
    background-color: rgb(12, 12, 71);
    background-size: cover;
    background-position: right;
}

.nav-link {
    color: #e0e0e0;
    font-size: 20px;
    font-weight: bold;
    margin-right: 20px;
}

.nav-link:hover {
    color: #fdb974;
}
.navbar-toggler {
    border-color: #e0e0e0;
    border-width: 3px;
    margin-right: 10px;
}
.navbar-toggler-icon {
    background-color: #e0e0e0;
    border-radius: 15%;
}

.background-color {
    background-color: rgb(8, 8, 84);
}

.footer-name {
    font-style: italic;
    margin-left: 10px;
    color: #e0e0e0;
}
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    font-family: "Roboto", sans-serif;
    color: #e0e0e0;
}
main {
    flex: 1;
}

#nav-image {
    border-top-left-radius: 30%;
    border-top-right-radius: 30%;
    border-bottom-right-radius: 30%;
    border-bottom-left-radius: 30%;
}
.card { 
    max-width: 600px;
    background-color: #908aa2;
}

.osaaminen-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.2rem;
  padding-left: 1rem;
}

a {
    color: #40e0d0
}

